COMPOSE_PROJECT_NAME=cicd

TZ=Europe/Zurich

# Jenkins admin user configuration
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_EMAIL=admin@example.com
JENKINS_ADMIN_PASSWORD=changeme

# Jenkins test user (read-only for Demonstration Purposes)
JENKINS_TESTUSER_PASSWORD=changeme

# GitHub App configuration (taken from GitHub Developer Settings)
GITHUB_APP_ID=123456

# Jenkins runtime configuration
JENKINS_DOCKER_PORT=8081

JENKINS_AGENT_PORT=50000
