# ───────────────────────────────
# Environment & Secrets
# ───────────────────────────────
.env
docker/.env
Terraform/Authentik/scripts/wake_proxy/config.yml

# ───────────────────────────────
# Terraform
# ───────────────────────────────

# Local state files
*.tfstate
*.tfstate.backup

# Terraform working directories
.terraform/
state/
data/

# Ignore generated HelloWorld output
Terraform/HelloWorld/hello.txt

# ───────────────────────────────
# Docker
# ───────────────────────────────

# DuckDNS
Docker/DuckDNS/config/

# WireGuard VPN
Docker/WireguardVPN/wg-easy/

# Traefik
Docker/Traefik/traefik/