[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.mem]]
[[inputs.swap]]
[[inputs.disk]]
  ignore_fs = ["tmpfs","devtmpfs"]
[[inputs.net]]
[[inputs.system]]
[[inputs.processes]]
[[inputs.kernel]]
[[inputs.file]]
  files = ["/sys/class/thermal/thermal_zone0/temp"]
  name_override = "cpu_temperature"
  data_format = "value"
  data_type = "integer"

[[outputs.influxdb_v2]]
  urls = ["http://influxdb:8086"]
  # Token is injected from the INFLUX_TOKEN env var (set in .env, passed to the
  # telegraf container by docker-compose). Telegraf expands ${INFLUX_TOKEN} at load.
  token = "${INFLUX_TOKEN}"
  organization = "myorg"
  bucket = "rpi"
