# ───────────────────────────────
# Environment & Secrets
# ───────────────────────────────
.env

# ───────────────────────────────
# audiobookshelf data
# ───────────────────────────────
/audiobookshelf