COMPOSE_PROJECT_NAME=mouse

ProtonVPN_Private_Key=YOUR_PRIVATE_KEY_HERE

QBIT_PASS=YOUR_QBIT_PASS_HERE

GLUETUN_AUTH_USER=username_here
GLUETUN_AUTH_PASS=password_here

SAMBA_ACCOUNT_MOUSE=your_samba_password_for_user_mouse_here
SAMBA_ACCOUNT_BOOKS=your_samba_password_for_user_books_here