COMPOSE_PROJECT_NAME=infra__ddns

DUCKDNS_TOKEN=your_duckdns_token
DUCKDNS_SUBDOMAINS=your_subdomain1,your_subdomain2

NOIP_USERNAME=your_noip_username
NOIP_PASSWORD=your_noip_password
NOIP_HOSTNAMES=your_noip_hostname1,your_noip_hostname2