COMPOSE_PROJECT_NAME=infra__ddns

# DUCKDNS token (replace with your DuckDNS token)
DUCKDNS_TOKEN=your_duckdns_token


# =========================================================
# DUCKDNS_SUBDOMAINS (one comma-separated value required by the image)
DUCKDNS_SUBDOMAINS=domain-1,domain-2
# - domain-1.duckdns.org
#       for Domain 1 server
#       routing managed on Galaxus router through port forwarding, because Domain 1 uses UDP and Traefik does not support UDP routing

# - domain-2.duckdns.org
#       for Domain 2 server (https)
#       routing managed through Traefik

# =========================================================

# NO-IP credentials and hostnames (sample values)
NOIP_USERNAME=your_noip_username@example.com
NOIP_PASSWORD=your_noip_password
NOIP_HOSTNAMES=my-domain.ddns.net
# NOIP_HOSTNAMES (one comma-separated value required by the image)
# - my-domain.ddns.net
#       for WebApp
#       routing managed through Traefik