COMPOSE_PROJECT_NAME=bitwarden

# generated admin token for initial setup
# in interminal: openssl rand -base64 48
ADMIN_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

BITWARDEN_DOMAIN=your_domain_here.com