# ───────────────────────────────
# Environment & Secrets
# ───────────────────────────────
.env

# ───────────────────────────────
# Traefik Private Keys
# ───────────────────────────────
/traefik/letsencrypt/acme.json